/* IntroductionSection.css */
.introduction-section {
  padding: 3rem 1.5rem;
  overflow-x: hidden;
  background: var(--background-light);
  font-family: 'Outfit', sans-serif;
  color: var(--text-color);
}

.timeline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.9rem;
  padding: 1rem 0;
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 270px;
  cursor: pointer;
}

.timeline-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.timeline-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #eee;
  overflow: hidden;
  background: var(--background-light);
  color: var(--primary-color);
}

.timeline-avatar svg {
  width: 70%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.timeline-avatar:hover svg {
  animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}

.timeline-content {
  text-align: center;
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.details, p {
  font-size: 0.95rem;
  color: #666;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.time {
  font-size: 0.85rem;
  color: #999;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .introduction-section {
    padding: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .details, p {
    font-size: 0.9rem;
  }

  .timeline-item {
    width: 100%; /* Full width on smaller screens */
    padding: 1.5rem;
  }

  .timeline-avatar {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .details, p {
    font-size: 0.85rem;
  }

  .timeline-item {
    padding: 1rem;
  }

  .timeline-avatar {
    width: 50px;
    height: 50px;
  }
}
