.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;  /* Vertically center the modal */
    justify-content: center; /* Horizontally center the modal */
    z-index: 1500; /* Make sure this is above all other content */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-overlay.open {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.modal-content.open {
    transform: scale(1);
}

.modal-close-button, .modal-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-close-button {
    top: 10px;
    right: 10px;
}

.modal-nav-button.left {
    left: 10px;
}

.modal-nav-button.right {
    right: 10px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .modal-overlay {
        align-items: flex-start; /* Adjust vertical alignment to avoid overlap with footer */
        padding-top: 20px; /* Add padding to ensure modal doesn't touch the very top */
    }

    .modal-content {
        width: 90%; /* Make modal wider to use more screen space */
        height: auto; /* Adjust height dynamically */
        max-height: 80vh; /* Limit maximum height to avoid touching footer */
    }
}
