/* NewsUpdates.css */
.news-updates {
  padding: 2rem;
  background-color: var(--background-light);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.news-updates ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.news-updates li {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.news-updates li:hover {
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.news-updates li article {
  padding: 1rem;
  transition: all 0.3s ease;
}

.news-updates li:hover article h3,
.news-updates li:hover article p {
  transform: translateY(-10px);
}

.news-updates li article h3 {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.news-updates li article p {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.news-updates li:hover article p {
  max-height: 100px;
}

.news-updates li time {
  color: #999;
  font-size: 0.85rem;
  display: block;
  position:absolute;
  bottom: 10px;
  right: 10px;
}
