.poem-container {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    max-width: 500px;
    pointer-events: none;
    z-index: 3;
    text-align: right; /* Align text to the right */
  }
  
  .trailsText {
    position: relative;
    width: 100%;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8); /* Subtle white color */
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    will-change: transform, opacity;
    overflow: hidden;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Soft glow */
  }
  
  .trailsText > div {
    padding-right: 0.05em;
    overflow: hidden;
  }
  
  @media (max-width: 768px) {
    .poem-container {
      right: 10px;
      max-width: 200px;
      font-size: 1rem;
    }
  }
  